version: v1alpha1
metadata:
  name: slingshot-drivers
  version: "{{ .VERSION }}"
  author: Tiziano Mueller
  description: |
    [{{ .TIER }}] Drivers and firmware blobs required to support the HPE Cray Slingshot high-speed interconnect.
  compatibility:
    talos:
      version: ">= v1.10.0"
